* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background: var(--body-bg-color);
}

body * {
  font-family: "Roboto Serif", serif;
  color: var(--text-color);
}

#container {
  border: 1px solid blue;
  padding: 0 24px;
}

#profile {
  border: 1px solid green;
  width: 260px;
  height: 220px;
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  clip-path: circle();
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#projects {
  border: 1px solid red;
  width: 600px;
  height: 100px;
  padding: 12px;
}
